.App {
  text-align: center;
}

.App-header {
  background-color: #a3a0a0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.git-link {
  color: #1e88a5;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.git-icon {
  float: left;
}

.green {
  color: white;
  background-color: green;
}

.orange {
  color: white;
  background-color: orange;
}

.red {
  color: white;
  background-color: red;
}

.white {
  color: black;
  background-color: white;
}

.traffic-light-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: center;
}

li {
  padding: 5px;
  margin-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  line-height: 50px;
  font-size: 15px;
  text-align: center;
}

label {
  line-height: 25px;
  font-size: 15px;
  text-align: center;
}

input[type="number"] {
  margin: 5px;
  border-radius: 5px;
  width: 75px;
  height: 25px;
}