.App {
  text-align: center;
}

.App-header {
  background-color: #a3a0a0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.git-link {
  color: #1e88a5;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.git-icon {
  float: left;
}

.green {
  color: white;
  background-color: green;
  padding: 5px;
  margin-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  line-height: 50px;
  font-size: 15px;
  text-align: center;
}

.orange {
  color: white;
  background-color: orange;

  padding: 5px;
  margin-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  line-height: 50px;
  font-size: 15px;
  text-align: center;
}

.red {
  color: white;
  background-color: red;

  padding: 5px;
  margin-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  line-height: 50px;
  font-size: 15px;
  text-align: center;
}

.white {
  color: black;
  background-color: white;

  padding: 5px;
  margin-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  line-height: 50px;
  font-size: 15px;
  text-align: center;
}

.traffic-light-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: space-around;
}